*{
	box-sizing: border-box;
	}
body{
	color: white;
	font-family: 'Days One', sans-serif;
	font-size: 18px;
}
header{
	padding: 7px;
	position: fixed;
	background-color: black;
	width: 100%;
	z-index: 10;
}
header li{
	float: right;
	padding: 0 2%
}
header a{
	color: white;
}
h3{
	font-family: 'Oleo Script', cursive;
	padding-top: 5%;
}
#datos{
	display: none;
	padding-top: 20%;
	background-image: url("../img/cuaro.gif");
	background-size: 50%;
	text-shadow: 3px 2px 8px #039BE5;
}
#footer, #about, #hability, #galary, #works, #contact{
	display: none;
} 

#about{
	font-family: 'Cookie', cursive;
}
#about p{
	font-size: 28px;
}
.letter{
	font-family: 'Cookie', cursive;
	font-size: 28px;
}

#about span{
	opacity: 0;
	left:-15px;
	font-size: 22px;
}
#hability span{
	opacity: 0;
	left:-15px;
}

#about .circle , #hability .circle{
	opacity: 0;
	left:-15px;
}
#works .card, #galary img {
	opacity: 0;
}
#works .btn{
	padding-top: 3%;
	margin:2%;
}
#works .card{
	margin: 2% 2% 2% 5%;
	padding: 1%;
}
.card-reveal{
	left: 0;
	right: 0;
}
.index{
	z-index: 2;
	position: absolute;
	font-size: 12em;
	opacity: 0.5;
	letter-spacing: 10px;
	font-family: 'Days One', sans-serif;
}
.index-none{
	z-index: 2;
	position: absolute;
	font-size: 12em;
	opacity: 0.5;
	letter-spacing: 10px;
	font-family: 'Days One', sans-serif;
	display: none;
}
.raya{
	background-image: url("../img/giphy.gif");
}
#about .cielo{
	background-image: url("../img/yo.jpg");
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: bottom;
}
#about .cielo img {
	margin-top: 5%;
	height: 300px;
	width: 100%
}
#contact{
	padding-top: 10%;
	padding-bottom: 10%;
}
footer{
	padding: 5px;
}
.laboratoria{
	color: #F19727;
	padding: 1%;
	font-family: 'Days One', sans-serif;
	font-size: 20px;
}

@media (max-width: 900px) {
	body{
		font-size: 12px;
	}
	#datos{
	background-size: 140%
}
	.none{
	display: block;
		}
	.block{
	display: none;
		}
	.index{
		display: none
	}
	.index-none{
		display: block;
		font-size: 18em;
	}
	#about .cielo img {
	margin-top: 20%;
}
	#works .card{
	margin: 0;
	}
	#works .card .card-title{
	font-size: 1.3em;
	}
}
@media (max-width: 600px) {
	body{
		font-size: 14px;
	}
	#about .cielo img {
	margin-top: 35%;
		}
	#datos{
	background-size: 180%
	}
	.none{
	display: block;
		}
	.block{
	display: none;
		}
	.index-none{
		font-size: 6em;
	}
	#works .card{
	margin: 2%;
	}
}
