*{
	box-sizing: border-box;
	}
body{
	color: white;
	font-family: 'Days One', sans-serif;
	font-size: 18px;
}
header{
	padding: 1%;
	position: fixed;
	background-color: black;
	width: 100%;
	z-index: 10;
}
header li{
	float: right;
	padding: 0 2%
}
header a{
	color: white;
}
h3{
	font-family: 'Oleo Script', cursive;
	padding-top: 5%;
}
#datos{
	display: none;
	padding-top: 20%;
	background-image: url("../img/cuaro.gif");
	background-size: 50%
}
#about, #hability, #galary, #works, #contact, footer{
	display: none;
} 

#about{
	font-family: 'Cookie', cursive;
}
#about p{
	font-size: 28px;
}
#about span{
	opacity: 0;
	left:-15px;
	font-size: 22px;
}
#hability span{
	opacity: 0;
	left:-15px;
}

#about .circle , #hability .circle{
	opacity: 0;
	left:-15px
}
#works .btn{
	padding-top: 3%;
	margin:2%;
}
#works .card{
	margin: 2% 2% 2% 5%;
	padding: 1%;
}
.card-reveal{
	left: 0;
	right: 0;
}
.index{
	z-index: 2;
	position: absolute;
	font-size: 12em;
	opacity: 0.5;
	letter-spacing: 10px;
	font-family: 'Days One', sans-serif;
}
.raya{
	background-image: url("../img/giphy.gif");
}
#about .cielo{
	background-image: url("../img/yo.jpg");
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: bottom;
}
@media (max-width: 600px) {
	body{
		font-size: 14px;
	}
	#datos{
	background-size: 180%
}
	.none{
	display: block;
		}
	.block{
	display: none;
		}

}
